.dashboard {
  background-color: var(--color-7);
  /* padding: 60px 0px 0px 0px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dashboard-current {
  padding: 70px 10px 10px 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-4);
  align-items: center;
}
.dashboard-current-books {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
  text-align: center;
  margin: 0px 0px 20px 0px;
}
.dashboard-current-books a {
  color: var(--color-2);
  font-weight: 400;
}
.dashboard-current-title {
  color: var(--color-2);
  font-family: var(--font-accent);

  font-weight: 600;
}
.dashboard-current-book-card {
  width: 160px;
  padding: 5px;
}
.dashboard-current-book-card img {
  height: 250px;
  width: 160px;
  object-fit: cover;
  border-radius: 4px;
}
.dashboard-current-book-card p {
  margin: 5px 0px 0px 0px;
  font-size: 1rem;
}
.dashboard-search {
  margin: 40px 0px 40px 0px;
  padding: 20px;
  width: 90%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  background-color: var(--color-2);
}
.dashboard-search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.dashboard-search-form input {
  flex-grow: 1;
  height: 25px;
  font-family: var(--font-main);
  border: white 1px solid;
  border-radius: 4px;
}
.dashboard-shelves-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  max-width: 100%;
}
.dashboard-shelves-title {
  font-family: var(--font-accent);
  font-weight: 600;
  font-size: 2.2rem;
  margin: 0px 0px 40px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.dashboard-shelves {
  width: 95%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
  padding: 0px 20px 40px 20px;
}
.dashboard-shelf {
  min-width: 40vw;
  min-height: 200px;
  padding: 0px 10px 20px 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
  border-radius: 8px;
}
.dashboard-shelf-title {
  color: var(--color-8);
  font-family: var(--font-accent);
  width: 100%;
  text-align: center;
  padding: 20px 0px 20px 0px;
}
.dashboard-shelf-books {
  padding: 5px 0px 0px 0px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-evenly;
}
.dashboard-all-books {
  background-color: var(--color-1);
  width: 100%;
  color: white;
  display: flex;
  padding: 40px 20px 40px 20px;
}
.dashboard-shelf-book-card {
  width: 130px;
  padding: 5px;
}
.dashboard-shelf-book-card img {
  height: 200px;
  width: 130px;
  object-fit: cover;
  border-radius: 4px;
}
/* MOBILE */
@media screen and (max-width: 480px) {
  .dashboard-current-title {
    font-size: 1.5rem;
  }
  .dashboard-search-form {
    width: 80vw;
  }
}
/* TABLET */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .dashboard-current-title {
    font-size: 1.8rem;
  }
  .dashboard-search-form {
    width: 60vw;
  }
}
/* LAPTOP OR BIGGER */
@media screen and (min-width: 769px) {
  .dashboard-current-title {
    font-size: 2.2rem;
  }
  .dashboard-search-form {
    width: 40vw;
  }
  .dashboard-shelf-title {
    font-size: 1.5rem;
  }
}
