.search {
  margin: 60px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 80vw;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
.search-results-container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
  gap: 2%;
}
.search-result {
  width: 48%;
  color: var(--color-1);
  font-size: 2rem;
  display: flex;
  align-items: center;
  border-radius: 8px;
  margin: 20px 0px;
  flex-grow: 1;
}
.search-result img {
  height: 200px;
  width: 150px;
  object-fit: cover;

  border-radius: 8px 0px 0px 8px;
}
.search-result p {
  margin-left: 20px;
}
.search a:first-child {
  width: 100%;
  max-width: 100%;
  margin: 0px 10px;
}
/* MOBILE */
@media screen and (max-width: 480px) {
  .search-result {
    width: 100%;
    max-width: 100%;
  }
  .search-result {
    font-size: 1.3rem;
  }
}
/* TABLET */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .search-result {
    width: 100%;
    max-width: 100%;
    font-size: 1.4rem;
  }
}
/* LAPTOP OR BIGGER */
@media screen and (min-width: 769px) {
}
