body {
  padding: 0;
  margin: 0;
  background-color: var(--color-7);
  color: var(--color-8);
  font-family: var(--font-main);
  font-weight: 200;
  --font-main: "Manrope", sans-serif;
  --font-accent: "Lora", serif;
  --color-1: #565faf;
  --color-2: #f1613e;
  --color-3: #fe7b98;
  --color-4: #f9bac0;
  --color-5: #ffd3a7;
  --color-6: #ffbc54;
  --color-7: #f4f4f4;
  --color-8: #292929;
  --color-9: #dddddd;
  --shadow-1: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  --shadow-2: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  --shadow-3: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
a {
  text-decoration: none;
}
input:focus {
  outline: none;
}
.color-1 {
  background-color: var(--color-1);
}
.color-2 {
  background-color: var(--color-2);
}
.color-3 {
  background-color: var(--color-3);
}
.color-4 {
  background-color: var(--color-4);
}
.color-5 {
  background-color: var(--color-5);
}
.color-6 {
  background-color: var(--color-6);
}
.color-7 {
  background-color: var(--color-7);
}
.color-8 {
  background-color: var(--color-8);
}
.white {
  background-color: white;
}
.shadow {
  box-shadow: var(--shadow-2);
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.05);
}
.grow-tiny {
  transition: all 0.2s ease-in-out;
}

.grow-tiny:hover {
  transform: scale(1.02);
}
.button-default {
  font-family: var(--font-main);
  font-size: 1rem;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 4px 10px;
}
.button-default:hover {
  opacity: 0.8;
}
.button-larger {
  font-family: var(--font-main);
  font-size: 1.3rem;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 4px 10px;
}
.button-larger:hover {
  opacity: 0.8;
}
